<?xml version="1.0"?>
<robot name="bipedal_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:include filename="$(find bipedal_robot)/urdf/core_bipedal_robot.urdf.xacro"/>

    <link name="dummy"></link>

    <joint name="dummy_joint" type="fixed">
        <parent link="dummy"/>
        <child link="base_link"/>
    </joint>

	<xacro:macro name="transmission" params="joint">
        <transmission name="${joint}_transmission">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="${joint}">
                <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            </joint>
            <actuator name="${joint}_motor">
                <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>
	</xacro:macro>

	<xacro:macro name="contact" params="link">
        <gazebo reference="${link}">
            <mu1>10000.0</mu1>
            <mu2>10000.0</mu2>
            <minDepth>0.001</minDepth>
            <maxVel value="0.0"/>
        </gazebo>
	</xacro:macro>

	<gazebo reference="right_foot">
	    <collision name='right_foot_collision_collision'>
	        <surface>
                <bounce>
                    <restitution_coefficient>0.9</restitution_coefficient>
                    <threshold>0.0</threshold>
                </bounce>
            </surface>
	    </collision>
	</gazebo>

	<gazebo reference="left_foot">
	    <collision name='left_foot_collision_collision'>
	        <surface>
                <bounce>
                    <restitution_coefficient>0.9</restitution_coefficient>
                    <threshold>0.0</threshold>
                </bounce>
            </surface>
	    </collision>
	</gazebo>

	<xacro:transmission joint="left_hip_joint1"/>
	<xacro:transmission joint="left_hip_joint2"/>
	<xacro:transmission joint="left_knee_joint"/>
	<xacro:transmission joint="left_ankle_joint1"/>
	<xacro:transmission joint="left_ankle_joint2"/>
	<xacro:transmission joint="right_hip_joint1"/>
	<xacro:transmission joint="right_hip_joint2"/>
	<xacro:transmission joint="right_knee_joint"/>
	<xacro:transmission joint="right_ankle_joint1"/>
	<xacro:transmission joint="right_ankle_joint2"/>

	<xacro:contact link="base_link"/>
	<xacro:contact link="left_thigh"/>
	<xacro:contact link="left_shin"/>
	<xacro:contact link="left_foot"/>
	<xacro:contact link="right_thigh"/>
	<xacro:contact link="right_shin"/>
	<xacro:contact link="right_foot"/>

    <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
            <!-- <robotNamespace>/</robotNamespace> -->
        </plugin>
    </gazebo>

    <gazebo reference="left_foot">
        <sensor name="left_foot_sensor" type="contact">
            <always_on>true</always_on>
            <contact>
                <collision>left_foot_collision_collision</collision>
            </contact>
            <plugin name="gazebo_ros_bumper_plugin" filename="libgazebo_ros_bumper.so">
                <bumperTopicName>left_foot_contact</bumperTopicName>
                <frameName>left_foot</frameName>
            </plugin>
        </sensor>
    </gazebo>

    <gazebo reference="right_foot">
        <sensor name="right_foot_sensor" type="contact">
            <always_on>true</always_on>
            <contact>
                <collision>right_foot_collision_collision</collision>
            </contact>
            <plugin name="gazebo_ros_bumper_plugin" filename="libgazebo_ros_bumper.so">
                <bumperTopicName>right_foot_contact</bumperTopicName>
                <frameName>right_foot</frameName>
            </plugin>
        </sensor>
    </gazebo>
</robot>