<launch>
  <!-- Gazebo options -->
  <arg name="gui" default="true" doc="Start Gazebo GUI"/>
  <arg name="paused" default="false" doc="Start Gazebo paused"/>
  <arg name="world_name" default="worlds/empty.world" doc="Gazebo world file"/>

  <!-- Gazebo launch -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch" pass_all_args="true">
    <arg name="paused" value="false"/>
    <arg name="/use_sim_time" value="true"/>
    <arg name="gui" value="$(arg gui)"/>
  </include>
</launch>